<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vesmile.webappla.dao.mybatis.client.UserRightMapper" >
  <resultMap id="BaseResultMap" type="com.vesmile.webappla.model.UserRight" >
    <id column="laur_id" property="id" jdbcType="INTEGER" />
    <result column="laur_uid" property="uid" jdbcType="INTEGER" />
    <result column="laur_mid" property="mid" jdbcType="INTEGER" />
    <result column="laur_mtype" property="mtype" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    laur_id, laur_uid, laur_mid, laur_mtype
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.vesmile.webappla.dao.mybatis.example.UserRightExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from LA_User_Right
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from LA_User_Right
    where laur_id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from LA_User_Right
    where laur_id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.vesmile.webappla.dao.mybatis.example.UserRightExample" >
    delete from LA_User_Right
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.vesmile.webappla.model.UserRight" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into LA_User_Right (laur_uid, laur_mid, laur_mtype
      )
    values (#{uid,jdbcType=INTEGER}, #{mid,jdbcType=INTEGER}, #{mtype,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.vesmile.webappla.model.UserRight" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into LA_User_Right
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        laur_uid,
      </if>
      <if test="mid != null" >
        laur_mid,
      </if>
      <if test="mtype != null" >
        laur_mtype,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="mid != null" >
        #{mid,jdbcType=INTEGER},
      </if>
      <if test="mtype != null" >
        #{mtype,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.vesmile.webappla.dao.mybatis.example.UserRightExample" resultType="java.lang.Integer" >
    select count(*) from LA_User_Right
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update LA_User_Right
    <set >
      <if test="record.id != null" >
        laur_id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.uid != null" >
        laur_uid = #{record.uid,jdbcType=INTEGER},
      </if>
      <if test="record.mid != null" >
        laur_mid = #{record.mid,jdbcType=INTEGER},
      </if>
      <if test="record.mtype != null" >
        laur_mtype = #{record.mtype,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update LA_User_Right
    set laur_id = #{record.id,jdbcType=INTEGER},
      laur_uid = #{record.uid,jdbcType=INTEGER},
      laur_mid = #{record.mid,jdbcType=INTEGER},
      laur_mtype = #{record.mtype,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.vesmile.webappla.model.UserRight" >
    update LA_User_Right
    <set >
      <if test="uid != null" >
        laur_uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="mid != null" >
        laur_mid = #{mid,jdbcType=INTEGER},
      </if>
      <if test="mtype != null" >
        laur_mtype = #{mtype,jdbcType=INTEGER},
      </if>
    </set>
    where laur_id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.vesmile.webappla.model.UserRight" >
    update LA_User_Right
    set laur_uid = #{uid,jdbcType=INTEGER},
      laur_mid = #{mid,jdbcType=INTEGER},
      laur_mtype = #{mtype,jdbcType=INTEGER}
    where laur_id = #{id,jdbcType=INTEGER}
  </update>
</mapper>